.input-box {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-of-type {
    margin-bottom: 10px;
  }

  &__warning {
    color: var(--secondary-color);
    margin-top: 6px;
    font-size: 75%;
    text-align: center;
    width: 70%;
  }
}

.input {
  padding: 14px 120px 14px 20px;
  border: 1px var(--border-color-input) solid;
  border-radius: 6px;
  outline: none;
  transition: .2s ease-out;
  
  &:focus {
    border: 1px var(--primary-color-faded) solid;
    box-shadow: 0 0 2px 1px var(--primary-color-faded);
  }
}