@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

:root {
  --primary-color: rgb(139, 195, 74);
  --primary-color-faded: rgb(139, 195, 74, .4);
  --primary-color-accent: rgb(123, 175, 63);
  --secondary-color: #ffc107;
  --secondary-color-faded: rgb(255, 193, 7, .4);
  --secondary-color-accent: #e4ab00;
  --danger-color: #d32f2f;

  --layout-color: #fdfdfd;
  --low-contrast-color: #ececec;
  --medium-contrast-color: #cac9c9;
  --high-contrast-color: #1d1d1d;

  --menu-height: 120px;
  --overlay-animation-timeout: .3s;
}